## mako
<%! from django.utils.translation import ugettext as _ %>
<%! from microsite_configuration.templatetags.microsite import platform_name %>
<%namespace name='static' file='static_content.html'/>

<footer>
  <div class="footer-container">

    <div class="row">

        <div class="col-sm-4">
            <img src="${static.url('themes/{theme_name}/images/logo-open-edx.png'.format(theme_name=settings.THEME_NAME))}" width="273" height="48" alt="Chapingo" class="img-responsive"/>
        </div>

        <div class="col-sm-4">
<!--          <nav class="nav"> -->
              <h2>Nosotros</h2>
              <ul>
<!--                %if settings.MKTG_URL_LINK_MAP.get('ABOUT'):
<!--                <li>
<!--                  <a id="about" href="${marketing_link('ABOUT')}">${_("About")}</a>
<!--                </li>
<!--                %endif -->
                <li>
                  <a href="http://www.oaxaca.gob.mx">Gobierno del estado</a>
                </li>

                %if settings.MKTG_URL_LINK_MAP.get('FAQ'):

                %endif

                %if settings.MKTG_URL_LINK_MAP.get('CONTACT'):

                %endif

<!--                %if settings.MKTG_URL_LINK_MAP.get('HONOR'):
<!--                <li>
<!--                  <a href="${marketing_link('HONOR')}">${_("Honor")}</a>
<!--                </li>
<!--                %endif -->
                %if settings.MKTG_URL_LINK_MAP.get('PRIVACY'):
                %endif
                <br/>
              </ul>
<!--          </nav> -->
        </div>

<!--        float:left; clear: left; margin-left: 20px; -->

        <div class="col-sm-4">
          <h2>Síguenos</h2>
          <ul>
              <li style="list-style-type:none;" class="social-item"><a href="https://www.facebook.com/GobOax" target="_blank"><i class="fa fa-facebook fa-2x"></i> Facebook</a>
              </li>
              <br/>
              <li style="list-style-type:none;" class="social-item"><a href="https://twitter.com/goboax" target="_blank"><i class="fa fa-twitter fa-2x"></i> Twitter</a>
              </li>
              <br/>
              <li style="list-style-type:none;" class="social-item"><a href="http://www.youtube.com/user/GobOax" target="_blank"><i class="fa fa-youtube fa-2x"></i> Youtube</a>
              </li>
              <br/>
          </ul>
        </div>

    </div>

    <div class="text-center">
      <font size="2">
        <p class="copyright">
          ${_(u"© 2011-2015 {platform_name}®. ©Gobierno del estado de Oaxaca. Todos los derechos reservados.").format(platform_name=platform_name())}</p>
      </font>

    </div>

  </div>

</footer>
